# Exploratory Data Analysis

## Load Data

In [1]:
import pandas as pd
%time clicks_train = pd.read_csv("../data/outbrain_clicks_train.csv")

CPU times: user 27.3 s, sys: 3.03 s, total: 30.3 s
Wall time: 30.7 s

In [2]:
%time clicks_test = pd.read_csv("../data/outbrain_clicks_test.csv")

CPU times: user 8.08 s, sys: 738 ms, total: 8.82 s
Wall time: 8.92 s

In [3]:
%time documents_categories = pd.read_csv("../data/outbrain_documents_categories.csv")

CPU times: user 2.17 s, sys: 182 ms, total: 2.35 s
Wall time: 2.39 s

In [4]:
%time documents_entities = pd.read_csv("../data/outbrain_documents_entities.csv")

CPU times: user 5.06 s, sys: 408 ms, total: 5.47 s
Wall time: 5.55 s

In [5]:
%time documents_meta = pd.read_csv("../data/outbrain_documents_meta.csv")

CPU times: user 1.51 s, sys: 156 ms, total: 1.66 s
Wall time: 1.69 s

In [6]:
%time documents_topics = pd.read_csv("../data/outbrain_documents_topics.csv")

CPU times: user 5.51 s, sys: 473 ms, total: 5.99 s
Wall time: 6.08 s

In [7]:
%time events = pd.read_csv("../data/outbrain_events.csv")

<string>:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 26.4 s, sys: 4.06 s, total: 30.4 s
Wall time: 31.5 s

In [8]:
%time promoted_content = pd.read_csv("../data/outbrain_promoted_content.csv")

CPU times: user 281 ms, sys: 33.9 ms, total: 315 ms
Wall time: 328 ms

In [9]:
%time page_views_sample = pd.read_csv("../data/outbrain_page_views_sample.csv")

CPU times: user 9.9 s, sys: 1.27 s, total: 11.2 s
Wall time: 11.3 s

In [10]:
print "clicks_train dimensions: ", clicks_train.shape
print "clicks_test dimensions: ", clicks_test.shape
print "documents_categories dimensions: ", documents_categories.shape
print "documents_entities dimensions: ", documents_entities.shape
print "documents_meta dimensions: ", documents_meta.shape
print "documents_topics dimensions: ", documents_topics.shape
print "events dimensions: ", events.shape
print "promoted_content dimensions: ", promoted_content.shape
print "page_views_sample dimensions: ", page_views_sample.shape

clicks_train dimensions:  (87141731, 3)
clicks_test dimensions:  (32225162, 2)
documents_categories dimensions:  (5481475, 3)
documents_entities dimensions:  (5537552, 3)
documents_meta dimensions:  (2999334, 4)
documents_topics dimensions:  (11325960, 3)
events dimensions:  (23120126, 6)
promoted_content dimensions:  (559583, 4)
page_views_sample dimensions:  (9999999, 6)

In [11]:
clicks_train.head()

   display_id   ad_id  clicked
0           1   42337        0
1           1  139684        0
2           1  144739        1
3           1  156824        0
4           1  279295        0

In [12]:
clicks_test.head()

   display_id   ad_id
0    16874594   66758
1    16874594  150083
2    16874594  162754
3    16874594  170392
4    16874594  172888

In [13]:
documents_categories.head()

   document_id  category_id  confidence_level
0      1595802         1611              0.92
1      1595802         1610              0.07
2      1524246         1807              0.92
3      1524246         1608              0.07
4      1617787         1807              0.92

In [14]:
documents_entities.head()

   document_id                         entity_id  confidence_level
0      1524246  f9eec25663db4cd83183f5c805186f16          0.672865
1      1524246  55ebcfbdaff1d6f60b3907151f38527a          0.399114
2      1524246  839907a972930b17b125eb0247898412          0.392096
3      1524246  04d8f9a1ad48f126d5806a9236872604          0.213996
4      1617787  612a1d17685a498aff4f036c1ee02c16          0.386193

In [15]:
documents_meta.head()

   document_id  source_id  publisher_id         publish_time
0      1595802        1.0         603.0  2016-06-05 00:00:00
1      1524246        1.0         603.0  2016-05-26 11:00:00
2      1617787        1.0         603.0  2016-05-27 00:00:00
3      1615583        1.0         603.0  2016-06-07 00:00:00
4      1615460        1.0         603.0  2016-06-20 00:00:00

In [16]:
documents_topics.head()

   document_id  topic_id  confidence_level
0      1595802       140          0.073113
1      1595802        16          0.059416
2      1595802       143          0.045421
3      1595802       170          0.038867
4      1524246       113          0.196450

In [17]:
events.head()

   display_id            uuid  document_id  timestamp platform geo_location
0           1  cb8c55702adb93       379743         61        3    US>SC>519
1           2  79a85fa78311b9      1794259         81        2    US>CA>807
2           3  822932ce3d8757      1179111        182        2    US>MI>505
3           4  85281d0a49f7ac      1777797        234        2    US>WV>564
4           5  8d0daef4bf5b56       252458        338        2        SG>00

In [18]:
promoted_content.head()

   ad_id  document_id  campaign_id  advertiser_id
0      1         6614            1              7
1      2       471467            2              7
2      3         7692            3              7
3      4       471471            2              7
4      5       471472            2              7

In [19]:
page_views_sample.head()

,uuid,document_id,timestamp,platform,geo_location,traffic_source
0,1fd5f051fba643,120,31905835,1,RS,2
1,8557aa9004be3b,120,32053104,1,VN>44,2
2,c351b277a358f0,120,54013023,1,KR>12,1
3,8205775c5387f9,120,44196592,1,IN>16,2
4,9cb0ccd8458371,120,65817371,1,US>CA>807,2